.student {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px 10px;
  border-radius: 4px;
  gap: 5px;
  background-color: rgb(206, 206, 206);
}
.student__presence {
  display: flex;
  gap: 2px;
}

.students-container {
  display: flex;
  flex-direction: column;
}
